# Target file
libadhan.a

# Configured files
include/adhan/Adhan.hpp

# Object files
obj/

# Tool cache dirs
.cache/

# Logs
*.log

# Test executables
run_tests

# compile commands JSON
compile_commands.json
compile_commands.events.json

# CMAKE build dir
build/

# Personal/dev tools
TODO.md
todo.txt

# Junk
*.zip
__pycache__